.homeSection {
    background-image: url("/assets/images/homeBg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
    padding-top: 130px;
    h1 {
        color: white;
    }
}
