.inputForm{
    width: 100%;
    display: flex;
    flex-direction: row;
    column-gap: 10px;
    label{
        flex: 1;
        color: rgb(47, 46, 46);
        font-size: 18px;
        font-weight: 500;
        text-wrap: nowrap;
    }
    input{
        padding: 5px;
        flex: 2;
        border-radius: 5px;
        border: none;
        height: fit-content;
    }

}