.departementSearchSection {
    background-image: url("/assets/images/departementBg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
    padding-top: 130px;
}
