.welcomTextWrapper {
    position: absolute;
    width: 50%;
    background-color: rgba(135, 152, 133, 0.8);
    padding: 30px;
    bottom: 40px;
    left: 40px;
    border-radius: 10px;
    h2 {
        font-size: 30px;
        margin: 0;
    }
    p,
    li {
        font-size: 22px;
        font-weight: 500;
    }
}
