.form {
    margin: auto;
    padding: 50px 50px 20px 50px;
    max-width: 600px;
    background-color: rgba(0, 0, 0, 0.202);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}
