.lostCatSection {
    min-height: 100vh;
    padding-top: 130px;
    .lostCatWrapper {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        padding: 40px 20px;
        gap: 20px;
        justify-content: center;
    }
}
