.lostCatSection{
    background-image: url("/assets/images/lostCatBg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    min-height: calc(100vh - 130px);
    padding-top: 130px;

}