body {
    margin: 0px;
    font-family: "Inter", sans-serif;

    h1 {
        color: rgb(64, 135, 246);
        font-family: "Dancing Script", cursive;
        font-weight: 700;
        font-size: 7vw;
        margin: 0;
        text-align: center;
    }
}
